@font-face {
    font-family: mechanical;
    src: url(assets/Mechanical.ttf);
}

@font-face {
    font-family: gellisto;
    src: url(assets/Gellisto.ttf);
}

:root {
    --background-opacity: 0.65;
    --title-font-size: clamp(20px, 3.5vw, 75px);
    --form-left-padding: clamp(10px, 3vw, 30px);

    /* Colours */
    --light-grey: #393e44;
    --dark-grey: #242529;
    --form-body-colour: #eae098;
    --drop-shadow-colour: #17181b;
    --light-text: #ded4d5;
    --button-colour: #897c5a;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.image-container,
.form-container {
    height: 100vh;
}

.image-container {
    width: 33.33%;
    background-image: url("assets/20221201_204447.jpg");
    background-size: cover;
}

.title {
    height: min(150px, 30%);
    background-color: rgba(0,0,0,var(--background-opacity));
    display: flex;
    flex-direction: column;
    justify-content: center;

    & span {
        color: white;
        font-weight: bold;
        font-size: var(--title-font-size);
        font-family: mechanical;
        letter-spacing: 5px;
        text-align: center;
    }
}

.form-container {
    width: 66.66%;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    font-family: gellisto;
    color: #ded4d5;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 100%;
}

.form-header {
    font-size: 1.5em;
    margin: 0px;

    & h1 {
        letter-spacing: 2px;
        padding-right: 5vw;
        padding-left: var(--form-left-padding);
    }
}

.form-body {
    box-shadow: 0px 7px 10px var(--drop-shadow-colour);
    margin: 2vh 0px;
    background-color: var(--form-body-colour);
    color: black;
    width: 100%;
    padding-bottom: 30px;

    & h2 {
        padding-left: var(--form-left-padding);
    }
}

.form-row {
    display: flex;
    gap: 4vw;
    margin-bottom: 20px;
    padding-left: var(--form-left-padding);
}

.input-container {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}

input:invalid {
    border: 2px solid red;
}

.error-msg {
    color: red;
}

.form-footer {
    padding-left: var(--form-left-padding);
    letter-spacing: 2px;

    & p {
        font-size: 15px;
    }

    & a {
        color: white;
    }
}

.submit-btn {
    padding: 5px;
    width: 220px;
    height: 40px;
    background-color: var(--button-colour);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

